<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Bem-vindo Miguel</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container row align-items-start flex">
    </div>
    <div class="row align-items-end justify-content-around">
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="/images/fraldas-30.png" alt="Card image cap">
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="/images/fraldas-50.png" alt="Card image cap">
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <a href="/pay/100" method="post">
            <img class="card-img-top" src="/images/fraldas-100.png" alt="Card image cap">
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
