<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Bem-vindo Miguel</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">
  </head>

  <body class="home text-center">

    <div class="cover-container d-flex h-100 p-10 flex-column">
      <header class="masthead mb-auto">
      </header>
      <main role="main" class="inner cover">
        <p class="lead">
          <a href="/preorder" class="btn btn-lg btn-outline-primary">Quero presentear</a>
        </p>
      </main>
    </div>
  </body>
</html>
