<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Ver mensagens</title>
</head>
<body>
  <div class="container">
    <table class="table table-striped table-responsive-sm">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Valor</th>
        <th>Mensagem</th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.email %></td>
          <td><%= order.amount %></td>
          <td><%= order.message %></td>
        </tr>
      <% end %>
    </table>
  </div>
  
</body>
</html>